body, html {
background: url(https://s7d9.scene7.com/is/image/sempreeditora/olimp%C3%ADada%202024-foto-de-medina--voando--1722285535?qlt=90&ts=1722285635188&dpr=off);
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
opacity: 0.5;
position: fixed;
}